<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Quiz</title>
</head>
<body>
  <h2>Your Quiz: <%= input[0].name%></h2>
  <h3>Please click on one answer for each question:</h3>
  <div>
    <form method="POST" action="/attempts/<%= input[0].quiz_id %>/results/<%= input[0].user_id %>">

      <% let questionText = ''; %>
      <% for (let obj of input) { %>
        <% if (obj.question === questionText) { %>
          <input type="radio" name="<%= obj.question%>" value="<%= obj.id%>"><%= obj.answer %></input>
          <br>
        <% } else {  %>
          <% questionText = obj.question %>
          <h4><%= questionText %></h4>
          <br>
          <input type="radio" name="<%= obj.question%>" value="<%= obj.id%>"><%= obj.answer %></input>
          <br>
        <% } %>
      <% } %>
    <br>
    <button type="submit">Submit Quiz</button>
  </form>
</div>
</body>
</html>
