<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAunMnAOuhUgD///8AmVkUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMwAAAAAAADMwREREREREAwERERERERRAASIiAAIiEUABIiAzMCIhQAEiIDMwIiFAASIiAAIiIUABIiAzMAIhQAMiIDMzMCFAASAAAAMzAUABAzMAAzMBQAMDMzMzMwFAAyAzMzMwIUADMgAAAAIhQDAzMiIiIiEDMwAAAAAAADMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA" rel="icon" type="image/x-icon" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <header>
    <nav>
      <a href="/home/<%= user_id %>">
        <h1>KWIZY</h1>
      </a>
      <a href="/users/<%= user_id %>">
        <div class="create-quiz-link">
          Your Quizzes!
        </div>
      </a>
    </nav>
  </header>
  <div class="main-container">
    <h1>Welcome to KWIZY!</h1>
    <h2>Check out some quizzes created by other users!</h2>
    <div class="links-container">
      <% for (let quiz of quizzes) {%>
      <a href="/attempts/<%= quiz.id%>/<%= user_id %>">
        <div class="quiz-link">
          <%= quiz.name %>
          <br>
          <p><%= quiz.description %></p>
        </div>
      </a>
      <br>
      <%}%>
    </div>
  </div>
  <script type="text/javascript" src="/scripts/client.js"></script>
  </body>
</html>
