<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h2>Your Quiz Result!</h2>
  <% for (let answer of attempt) { %>
    <%= answer.question %>
    <%= answer.answer %>
    <%= answer.iscorrect %>
    <br>
  <% } %>
<!-- <a href="/attempts/<%= attempt[0].id%>/user/<%= attempt[0].user_id %>">Take another quiz!</a> -->
<a href="/home/<%= attempt[0].user_id%>">Take another quiz!</a>
</body>
</html>
